# User Service
USER_SERVICE_PORT=3001
MONGODB_URI_USER=mongodb://localhost:27017/ruralmart_user

# Market Service
MARKET_SERVICE_PORT=3002
MONGODB_URI_MARKET=mongodb://localhost:27017/ruralmart_market

# Product Service
PRODUCT_SERVICE_PORT=3003
MONGODB_URI_PRODUCT=mongodb://localhost:27017/ruralmart_product

# Transaction Service
TRANSACTION_SERVICE_PORT=3004
MONGODB_URI_TRANSACTION=mongodb://localhost:27017/ruralmart_transaction

# Delivery Service
DELIVERY_SERVICE_PORT=3005
MONGODB_URI_DELIVERY=mongodb://localhost:27017/ruralmart_delivery

# Shared
JWT_SECRET=supersecretjwtkey
FRONTEND_URL=http://localhost:3000
