node_modules/
dist/
/node_modules
/node_modules/terser/node_modules
/node_modules/@isaacs/cliui/node_modules
/node_modules/restore-cursor/node_modules
/node_modules/jest-config/node_modules
/node_modules/resolve-cwd/node_modules
/node_modules/dotenv-expand/node_modules
/node_modules/@eslint-community/eslint-utils/node_modules
/node_modules/path-scurry/node_modules
/node_modules/glob/node_modules
/node_modules/form-data/node_modules
/node_modules/@typescript-eslint/eslint-plugin/node_modules
/node_modules/@typescript-eslint/visitor-keys/node_modules
/node_modules/@typescript-eslint/typescript-estree/node_modules
/node_modules/cliui/node_modules
/node_modules/jest-worker/node_modules
/node_modules/tsconfig-paths/node_modules
/node_modules/handlebars/node_modules
/node_modules/source-map-support/node_modules
/node_modules/jest-runtime/node_modules
/node_modules/pretty-format/node_modules
/node_modules/@babel/helper-compilation-targets/node_modules
/node_modules/@babel/core/node_modules
/node_modules/ts-jest/node_modules
/node_modules/stack-utils/node_modules
/node_modules/test-exclude/node_modules
/node_modules/@cspotcode/source-map-support/node_modules
/node_modules/terser-webpack-plugin/node_modules
/node_modules/jest-runner/node_modules
/node_modules/ajv-formats/node_modules
/node_modules/@nestjs/cli/node_modules
/node_modules/@istanbuljs/load-nyc-config/node_modules
/node_modules/webpack/node_modules
/node_modules/pkg-dir/node_modules
/node_modules/jest-validate/node_modules
/node_modules/@jest/reporters/node_modules
/node_modules/micromatch/node_modules
/node_modules/@eslint/eslintrc/node_modules
/node_modules/anymatch/node_modules
/node_modules/multer/node_modules
/node_modules/@angular-devkit/schematics-cli/node_modules
/node_modules/@angular-devkit/core/node_modules
/node_modules/@angular-devkit/schematics/node_modules
/node_modules/execa/node_modules
